[Unit]
Description=Tizen Login Manager
After=systemd-user-sessions.service systemd-logind.service
Requires=systemd-logind.service

[Service]
ExecStart=/usr/bin/tlm

[Install]
WantedBy=default.target
